@media only screen and (max-width: 750px) {}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    background-color: #ccc;
    font-family: "Comic Sans MS";
}

#progressBorder {
    border-radius: 1000px;
    border: 3px solid lightskyblue;
    position: relative;
    top: 15px;
    text-align: center;
    font-size: 10px;
}

#progress {
    background-color: lightcyan;
    border-radius: 1000px;
    position: relative;
    margin: 3px;
    width: 0;
    height: 10px;
    position: relative;
    bottom: 3px;
    left: 2px;
    z-index: -1;
    transition: 1s;
}

#playAgain,
#revealAnswer {
    display: block;
    float: right;
    width: 150px;
    height: 20px;
    text-align: center;
}

#box {
    border: 5px groove rgb(52, 152, 219);
    border-radius: 10px;
    padding: 10px;
    padding-top: 0.1px;
    margin: 0.5%;
    background-color: rgb(179, 229, 252);
    max-width: 550px;
    position: fixed;
    width: 100%;
}

#aboveSwitch {
    position: relative;
    left: 140px;
    font-size: 12px;
}

#guess {
    max-width: 130px;
}

#rightSideButtons {
    float: right;
    width: 150px;
    height: 20px;
}

#switchInfo {
    border: 0.5px solid gray;
    border-radius: 50%;
    background-color: lightgray;
    width: 15px;
    height: 15px;
    font-size: 10px;
    position: absolute;
    top: 175px;
    left: 525px;
    outline: none;
}

.adjustSizeFont {
    font-size: 13px;
}

.switch {
    height: 22px;
    background-color: lightgray;
    border: 2px solid gray;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    left: 100px;
    top: 5px;
    padding: 0 17px;
    outline: none;
}

.switchInside {
    height: 16px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 1000px;
    display: inline-block;
    position: relative;
    left: 64px;
    top: 0px;
    padding: 3px 7px;
    margin: 1px 10px 1px 1px;
    outline: none;
    transition: margin 0.1s;
}

.largestNum {
    position: relative;
    left: 8px;
}

.answerLines {
    color: rgb(0, 0, 150);
    font-size: 15px;
}

.adjustSizeInput {
    display: inline-block;
}

#newLargestNumber {
    position: relative;
    left: 4px;
}

#setNumberRangeButton {
    position: relative;
    left: 7px;
    height: 21px;
}

.collapsible {
    width: 550px;
    height: 30px;
    border-style: solid;
    border-radius: 10px 10px 0 0;
    border: 1px solid lightskyblue;
    background-color: lightcyan;
    outline: none;
}

#collapsibleMenu {
    border: solid lightskyblue;
    border-width: 0 1px 1px 1px;
    background-color: lightcyan;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    /* max-height   : 0; */
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    /* content: '\02795'; */
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

input {
    max-width: 100px
}

button.notExpandable {
    display: inline;
    border: 1px solid lightskyblue;
    border-bottom: 1.5px groove lightskyblue;
    border-right: 1.5px groove lightskyblue;
    background-color: lightcyan;
    border-radius: 3px;
    outline: none;
}

.nonSwitchButton:hover,
#collapsible:hover {
    background-color: rgb(174, 214, 241);
}

button.notExpandable:active {
    position: relative;
    border-style: solid;
    left: 1px;
    top: 1px;
}

span {
    font-size: 15px;
}

span,
h4,
div,
button,
input {
    color: rgb(0, 0, 120);
}